
.tiempo{
    widows: 200px;;
    position: absolute;
    top: 190px;
    left: 743px;
}
@media screen and (min-width:300px) and (max-width:800px) {
   
    .tiempo{
        widows: 200px;;
        position: absolute;
        top: 190px;
        left: 743px;
    }

    #foto{
        width: 190px;
     }
}
.margen{
    margin-left: 600px;
}
#foto{
   width: 380px;
}